#js-pjax-container
  == render 'quiz'

javascript:
  $(function(){
    function make_bacon(){
      var $question = $('#question');

      $.ajax({
        url: $question.data('bacon-url'), 
        type: 'POST', 
        dataType: 'json', 
        data: { my_current_question_id: $question.data('question-id'), my_game_state: $question.data('game-state') },
        success: function(res) {
          console.log(res);
          if (res.reload == true) {
            $.pjax({url: '', container: '#js-pjax-container'});
          }
        }
      });
    }
    var timer = setInterval(make_bacon, 2000);
  });