=link_to 'Edit', edit_owner_question_path(@question), class: 'btn btn-warning'
=link_to 'Delete', owner_question_path(@question), method: :delete, class: 'btn btn-danger'
hr
=markdown @question.foreword
hr
h3 The question is!!
=markdown @question.core