=form_for [:owner, @quiz, @team] do |f|
  = render 'owner/layouts/error_messages', object: f.object
  .form-group
    =f.label :name
    =f.text_field :name, class: 'form-control'
  =f.submit 'Save', class: 'btn btn-success'
