body {
  padding-top: 60px;
}

.hljs {
  background: whitesmoke; 
  background-color: whitesmoke;
}


.table {
  .actions {
    width: 250px;
    text-align: right;

    a + a {
      margin-left: 5px;
    }
  }
}